body {
  font-family: $fontMain;
  background-color: $colorWhite;
  color: $colorBlack;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;

  @include responsive1279 {
    font-size: 12px;
    line-height: 14px;
  }

  &.modal-open,
  &.hidden {
    overflow: hidden;
  }

  &.index-page {
  }

  &.inner-page {
    .main {
      padding-top: 64px;

      @include responsive1279 {
        padding-top: 56px;
      }

      @include responsive1023 {
        padding-top: 50px;
      }
    }
  }
}

.container {
  width: 100%;
  max-width: 1340px;
  padding: 0 10px;
  margin: 0 auto;

  @include responsive1279 {
    max-width: 845px;
  }

  @include responsive767 {
    padding: 0 16px;
  }
}

label,
textarea,
input {
  -webkit-appearance: none;
  font-family: $fontMain;
  @include border-radius(0);
}

input[type="number"],
input[type="number"]:hover,
input[type="number"]:focus {
  appearance: none;
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.site-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;

  footer,
  .footer {
    margin-top: auto;
  }

  &.visible {
    overflow: visible;
  }
}

.logo {
  position: relative;
  transition: opacity 0.3s;
  width: 88px;
  height: 32px;
  @include invisLink;

  @include responsive1279 {
    width: 67px;
    height: 24px;
  }

  &:hover {
    opacity: 0.75;
  }

  picture {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
  }

  img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.main {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

picture {
  position: relative;
  display: block;

  img {
    position: relative;
  }
}

.selectric {
  border: 0;
  background: transparent;
  width: 100%;
  height: 47px;
  width: 100%;
  @include border-radius(0);

  .label {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    height: 100%;
    padding: 10px 0;
    padding-right: 15px;
    margin: 0;
    color: $colorBlack;
  }

  .button {
    width: 48px;
    height: 100%;
    background: transparent;
    display: flex;
    background-image: url("../img/arrow_bottom.svg");
    background-position: center;
    background-repeat: no-repeat;
    @include transition(all 0.3s);

    &::after {
      display: none;
    }
  }
}

.selectric-wrapper {
  border: 0;
  outline: none;

  &.selectric-hover {
    .selectric {
      border-color: $colorBlack;
    }
  }

  &.selectric-open {
    .selectric {
      border-color: $colorBlack;

      .button {
        @include transform(scale(1, -1));
      }
    }
  }

  &.selectric-above {
    .selectric-items {
      border: solid 1px $colorBlack;
    }

    .selectric-scroll ul {
    }
  }
}

.selectric-items {
  background: transparent;
  background-color: $colorWhite;
  border: 1px solid $colorBlack;
  overflow: hidden;
  @include border-radius(16px);
  @include box-shadow(none);
  z-index: -1;
  min-width: 140px;
  right: 0;
  left: auto;
}

.selectric-scroll {
  border: 0;
  ul {
    padding-top: 5px;

    li {
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      color: #7b7b7b;
      padding: 8px;
      @include transition(all 0.3s);

      &.highlighted,
      &.selected {
        background: transparent !important;
        text-decoration: underline;
        color: $colorBlack;
      }
      &:hover {
        background: transparent !important;
        color: $colorBlack;
      }
    }
  }
}

.selectric-open {
  z-index: 4;
}

// modals base

.modal {
  font-family: $fontMain;
  display: none;
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
  color: #292929;
}

.modal.is-open {
  display: flex;
  z-index: 15;
  position: fixed;
}

.modal__container {
  overflow: auto;
  background: transparent;
  padding: 0;
  margin: 0;
  width: 100%;
  padding: 50px 0;
  max-width: 1200px;
  position: relative;
  margin: auto;

  @include responsive1279 {
    max-width: 768px;
  }

  @include responsive767 {
    max-width: calc(100% - 20px);
  }
}

.modal__content {
  padding: 0;
  margin: 0;
  background-color: $colorWhite;
  position: relative;
  padding: 80px 100px;

  @include responsive1279 {
    padding: 40px 50px;
  }

  @include responsive767 {
    padding: 20px;
  }

  .link {
    font-size: 14px;
    line-height: 25px;
    font-weight: 500;
    letter-spacing: 0.05em;
    text-decoration-line: underline;
    @include transition(all 0.3s);
    color: #4c535b;

    &:hover {
      text-decoration-color: transparent;
    }
  }
}

.modal__inner {
  position: relative;
}

.modal__close {
  @include transition(all 0.3s);
  position: absolute;
  right: 100px;
  top: 80px;
  display: flex;
  z-index: 10;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #292929;
  align-items: center;
  gap: 11px;

  @include responsive1279 {
    right: 50px;
    top: 40px;
  }

  @include responsive767 {
    right: 20px;
    top: 20px;
  }

  svg {
    pointer-events: none;
  }

  &:hover {
    opacity: 0.75;
  }
}

.modal__content {
  .scroll {
    &::-webkit-scrollbar {
      width: 5px;
      @include border-radius(10px);
      margin-right: 12px;
    }

    &::-webkit-scrollbar-track {
      background: #d9d9d9;
      @include border-radius(10px);
    }

    &::-webkit-scrollbar-thumb {
      background: $colorBlack;
      @include border-radius(10px);
    }
  }
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: inherit;
}

div {
  &::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
    left: 5px;
  }

  &::-webkit-scrollbar-thumb {
    width: 5px;
    background-color: rgba(255, 255, 255, 0.33);
    @include border-radius(10px);
  }

  scrollbar-color: rgba(255, 255, 255, 0.33) transparent;
  scrollbar-width: thin;
}

.swiper-controls {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
  max-width: 216px;
  margin: 8px auto 0;
}

.swiper-pagination-bullets {
  bottom: 0 !important;
  top: auto !important;
  left: 0;
  width: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  z-index: 5;

  .swiper-pagination-bullet {
    width: 16px;
    height: 1px;
    background-color: rgba(233, 233, 233, 1);
    opacity: 1;
    border-radius: 0;
    margin: 0 !important;
    flex: 1;
  }

  .swiper-pagination-bullet-active {
    background-color: $colorBlack;
  }
}

.swiperBtnPrev {
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  width: 100px;
  height: 16px;
  min-width: 100px;
  transition: transform 0.3s;

  @include responsive1279 {
    width: 60px;
    min-width: 60px;
    background-size: contain;
  }

  &--white {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='101' height='8' viewBox='0 0 101 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0.646447 3.64645C0.451184 3.84171 0.451184 4.15829 0.646447 4.35355L3.82843 7.53553C4.02369 7.7308 4.34027 7.7308 4.53553 7.53553C4.7308 7.34027 4.7308 7.02369 4.53553 6.82843L1.70711 4L4.53553 1.17157C4.7308 0.976311 4.7308 0.659728 4.53553 0.464466C4.34027 0.269204 4.02369 0.269204 3.82843 0.464466L0.646447 3.64645ZM1 4.5H101V3.5H1V4.5Z' fill='white'/%3e%3c/svg%3e ");
  }

  &--dark {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='82' height='8' viewBox='0 0 82 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0.646447 3.64645C0.451184 3.84171 0.451184 4.15829 0.646447 4.35355L3.82843 7.53553C4.02369 7.7308 4.34027 7.7308 4.53553 7.53553C4.7308 7.34027 4.7308 7.02369 4.53553 6.82843L1.70711 4L4.53553 1.17157C4.7308 0.976311 4.7308 0.659728 4.53553 0.464466C4.34027 0.269204 4.02369 0.269204 3.82843 0.464466L0.646447 3.64645ZM1 4.5H81.5V3.5H1V4.5Z' fill='%231B1922'/%3e%3c/svg%3e ");
  }

  &:hover {
    transform: scale(0.9);
  }
}

.swiperBtnNext {
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  width: 100px;
  height: 16px;
  min-width: 100px;
  transition: transform 0.3s;

  @include responsive1279 {
    width: 60px;
    min-width: 60px;
    background-size: contain;
  }

  &--white {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='101' height='8' viewBox='0 0 101 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M100.354 4.35355C100.549 4.15829 100.549 3.84171 100.354 3.64645L97.1716 0.464466C96.9763 0.269204 96.6597 0.269204 96.4645 0.464466C96.2692 0.659728 96.2692 0.976311 96.4645 1.17157L99.2929 4L96.4645 6.82843C96.2692 7.02369 96.2692 7.34027 96.4645 7.53553C96.6597 7.7308 96.9763 7.7308 97.1716 7.53553L100.354 4.35355ZM0 4.5H100V3.5H0V4.5Z' fill='white'/%3e%3c/svg%3e ");
  }

  &--dark {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='82' height='8' viewBox='0 0 82 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M81.3536 4.35355C81.5488 4.15829 81.5488 3.84171 81.3536 3.64645L78.1716 0.464466C77.9763 0.269204 77.6597 0.269204 77.4645 0.464466C77.2692 0.659728 77.2692 0.976311 77.4645 1.17157L80.2929 4L77.4645 6.82843C77.2692 7.02369 77.2692 7.34027 77.4645 7.53553C77.6597 7.7308 77.9763 7.7308 78.1716 7.53553L81.3536 4.35355ZM0.5 4.5H81V3.5H0.5V4.5Z' fill='%231B1922'/%3e%3c/svg%3e ");
  }

  &:hover {
    transform: scale(0.9);
  }
}

.burger {
  display: none;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='12' viewBox='0 0 18 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1.5 6H16.5M1.5 1H16.5M1.5 11H16.5' stroke='%231B1922' stroke-width='1.66667' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
  background-position: center;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;

  @include responsive767 {
    display: flex;
  }

  &.opened {
  }
}

.linkSite {
  position: relative;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 16px;
  line-height: 20px;
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: text-decoration 0.3s;

  @include responsive1279 {
    font-size: 12px;
    line-height: 14px;
  }

  @include after {
    position: relative;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M19 13V5H11' stroke='%231B1922' stroke-linecap='round'/%3e%3cpath d='M19 5L5 19' stroke='%231B1922' stroke-linecap='round'/%3e%3c/svg%3e ");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    width: 24px;
    height: 24px;
  }

  &:hover {
    text-decoration-color: $colorBlack;

    &::after {
      transform: rotate(45deg);
    }
  }

  &--white {
    color: $colorWhite;

    &::after {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M15.8337 11.1667V4.50008H9.16699' stroke='white' stroke-width='0.833333' stroke-linecap='round'/%3e%3cpath d='M15.8337 4.5L4.16699 16.1667' stroke='white' stroke-width='0.833333' stroke-linecap='round'/%3e%3c/svg%3e ");
    }

    &:hover {
      text-decoration-color: $colorWhite;
    }
  }
}

.linkWhatsapp {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0_2211_6612)'%3e%3cpath d='M32 15.5883C32 24.197 24.967 31.1757 16.2896 31.1757C13.5358 31.1757 10.9491 30.4714 8.69728 29.2379L0 32L2.8351 23.6346C1.40555 21.2867 0.582254 18.5299 0.582254 15.5873C0.583298 6.9787 7.61418 0 16.2917 0C24.9681 0.00208694 32 6.97975 32 15.5883ZM16.2885 2.48554C9.00616 2.48554 3.0824 8.3644 3.0824 15.5915C3.0824 18.459 4.01734 21.1135 5.5982 23.2735L3.94952 28.1392L9.02288 26.527C11.1098 27.8961 13.6068 28.6933 16.2885 28.6933C23.5709 28.6933 29.4967 22.8154 29.4967 15.5883C29.4988 8.3644 23.5719 2.48554 16.2885 2.48554ZM24.223 19.179C24.125 19.0214 23.8682 18.9254 23.4842 18.7334C23.1013 18.5414 21.2054 17.6179 20.8537 17.4926C20.4989 17.3643 20.2422 17.2996 19.9855 17.6826C19.7319 18.0655 18.9932 18.9254 18.7667 19.1821C18.5424 19.4377 18.3181 19.4701 17.933 19.2812C17.548 19.0871 16.3062 18.6864 14.835 17.3852C13.6903 16.371 12.917 15.1219 12.6938 14.739C12.4674 14.357 12.6708 14.1505 12.8618 13.9606C13.0339 13.7884 13.2468 13.5139 13.4398 13.2896C13.6329 13.0674 13.6966 12.9098 13.8249 12.6542C13.9511 12.3985 13.8875 12.1762 13.7926 11.9832C13.6966 11.7912 12.9275 9.91296 12.6051 9.14808C12.2847 8.38424 11.9644 8.51048 11.739 8.51048C11.5146 8.51048 11.258 8.4792 11.0013 8.4792C10.7446 8.4792 10.3272 8.57208 9.97552 8.95504C9.62392 9.338 8.6284 10.2614 8.6284 12.1418C8.6284 14.0242 10.0069 15.8388 10.1999 16.0934C10.394 16.347 12.8649 20.3319 16.779 21.8617C20.695 23.3903 20.6951 22.8801 21.4005 22.8154C22.1079 22.7507 23.6794 21.8919 23.9987 21.0008C24.3201 20.1055 24.3201 19.3386 24.223 19.179Z' fill='white'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_2211_6612'%3e%3crect width='32' height='32' fill='white'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ");
  background-position: center;
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  background-size: 32px;
  border: solid 1px $colorWhite;
  border-radius: 50%;
  transition: all 0.3s;

  @include responsive1279 {
    width: 36px;
    height: 36px;
    background-size: 16px;
  }

  &:hover {
    background-size: 50px;
    border-color: transparent;
    border-radius: 0;

    @include responsive1279 {
      background-size: 36px;
    }
  }
}

section {
  padding: 60px 0;

  @include responsive1279 {
    padding: 32px 0;
  }

  @include responsive767 {
    padding: 16px 0;
  }
}

#map {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.icon-marker {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='38' height='54' viewBox='0 0 38 54' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M19.0002 0.333008C8.68016 0.333008 0.333496 8.67968 0.333496 18.9997C0.333496 32.9997 19.0002 53.6663 19.0002 53.6663C19.0002 53.6663 37.6668 32.9997 37.6668 18.9997C37.6668 8.67968 29.3202 0.333008 19.0002 0.333008ZM19.0002 25.6663C15.3202 25.6663 12.3335 22.6797 12.3335 18.9997C12.3335 15.3197 15.3202 12.333 19.0002 12.333C22.6802 12.333 25.6668 15.3197 25.6668 18.9997C25.6668 22.6797 22.6802 25.6663 19.0002 25.6663Z' fill='black'/%3e%3c/svg%3e ");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 38px;
  height: 54px;

  @include responsive767 {
    width: 20px;
    height: 30px;
  }
}

.input-item {
  input {
    background: transparent;
    border: 0;
    outline: none;
    border-bottom: solid 1px $colorWhite;
    height: 36px;
    width: 100%;

    @include responsive1279 {
      font-size: 12px;
      line-height: 14px;
    }

    &::placeholder {
      color: $colorWhite-a4;
    }
  }

  textarea {
    background: transparent;
    border: 0;
    outline: none;
    border-bottom: solid 1px $colorWhite;
    height: 116px;
    width: 100%;

    @include responsive1279 {
      font-size: 12px;
      line-height: 14px;
      height: 62px;
    }

    &::placeholder {
      color: $colorWhite-a4;
    }
  }
}

.checkblock {
  position: relative;

  input {
    display: none;

    &:checked {
      & + label {
        &::after {
          opacity: 1;
        }
      }
    }
  }

  label {
    cursor: pointer;
    position: relative;
    padding-left: 32px;
    display: block;

    @include responsive1279 {
      padding-left: 24px;
    }

    @include before {
      width: 24px;
      height: 24px;
      border: solid 1px $colorBlack;
      left: 0;
      top: 50%;
      transform: translateY(-50%);

      @include responsive1279 {
        width: 16px;
        height: 16px;
      }
    }

    @include after {
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='11' viewBox='0 0 16 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M14.6693 1L5.5026 10.1667L1.33594 6' stroke='%231B1922' stroke-width='1.66667' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
      background-position: center;
      background-repeat: no-repeat;
      width: 24px;
      height: 24px;
      opacity: 0;

      @include responsive1279 {
        width: 16px;
        height: 16px;
        background-size: 10px;
      }
    }
  }

  a {
    text-decoration: underline;
    transition: text-decoration 0.3s;

    &:hover {
      text-decoration-color: transparent;
    }
  }
}

.fileLoad {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  border: dashed 1px $colorBlack;
  display: flex;
  align-items: center;
  justify-content: center;

  @include responsive1279 {
    font-size: 12px;
    line-height: 14px;
  }

  input {
    display: none;
  }

  label {
    opacity: 0.4;
    padding: 17px;
    display: block;
  }
}

.modal-custom {
  .input-form {
    display: grid;
    grid-template-columns: 1fr 259px;
    gap: 32px;
    margin-top: 32px;

    @include responsive1279 {
      gap: 24px;
      margin-top: 24px;
      grid-template-columns: 1fr 200px;
    }

    @include responsive767 {
      display: flex;
      flex-direction: column;
      gap: 16px;
      margin-top: 16px;
    }
  }

  .btn {
    grid-row: 1/3;
    grid-column: 2/3;
    display: flex;
    justify-content: center;
    height: 74px;
    margin-top: auto;

    @include responsive1279 {
      height: 63px;
    }

    @include responsive767 {
      height: auto;
    }
  }

  .input-item {
    input {
      border-color: $colorBlack;
      color: $colorBlack;
      height: 36px;
      width: 100%;

      &::placeholder {
        color: $colorBlack-a4;
      }
    }
  }
}

@media (min-width: 1200px) {
  body.modal-open {
    overflow: hidden;
    padding-right: 17px;
  }

  _:-webkit-any-link,
  :root body.modal-open {
    padding-right: 17px;

    .header {
      width: calc(100% - 17px);
    }
  }

  _:-webkit-any-link,
  :root body.hidden {
    padding-right: 17px;

    .header {
      width: calc(100% - 17px);
    }
  }

  _:-webkit-any-link,
  :root body.compensate-for-scrollbar {
    padding-right: 17px;

    .header {
      width: calc(100% - 17px);
    }
  }
}
